/*responsive css start*/




@media only screen   and  (max-width: 1024px) and (min-width: 786px) and (-webkit-min-device-pixel-ratio: 2) { 
.left-sidebar .menu-area-dashboard{
	min-height: 100% !important;
}


/* .dash-menu{
	display: none;
    position: absolute;
    z-index: 999;
    left: 14px;
    top: 103px;
    background: #000;
    width: 92%;
    text-align: center;
}*/
.menu-burger-mobile{
	display: block;
}
.menu-burger{
	display: none;
}
}

@media only screen and (min-width: 375px) and (max-width: 667px) { 
	 .dash-menu{
	display: none;
    position: absolute;
    z-index: 999;
    left: 14px;
    top: 103px;
    background: #000;
    width: 92%;
}
.menu-burger-mobile{
	display: block;
}
.menu-burger{
	display: none;
}
}
/*Galaxy 5s*/
@media only screen and (min-width: 360px) and (max-width: 640px) { 
	.pd-l-0 {
    padding-left: 15px !important;
}
	.pd-r-0 {
	    padding-right: 15px !important;
}
	.body-header-area:before{
		display: none;
	}

	.body-header-area {
    height: 128px;
    text-align: center;
    margin-top: 20px;
}
	
	.body-notifiaction-area {
    text-align: center !important;
}
.body-notifiaction-area a {
    font-size: 26px;
    margin-right: 10px;
    margin-left: 8px;
}
.head-dash h3 {
    font-size: 26px;
}
.pd-2 {
    padding: 0px;
    margin-top: 20px;
}
.finess-btn {
    text-align: left !important;
    margin-bottom: 20px;
}
.menu-area-dashboard {
    min-height: 100%;
}
.dash-menu{
	display: none;
    position: absolute;
    z-index: 999;
    left: 14px;
    top: 103px;
    background: #000;
    width: 92%;
}
.menu-burger-mobile {
    display: block !important;
    cursor: pointer !important;
    border: 1px solid #ddd;
    padding: 5px 6px;
    padding-top: 9px;
    margin-top: 11px;
}
.menu-burger-mobile span{
	cursor: pointer;
}
.menu-burger{
	display: none;
}
ul.paginatn {
    padding-left: 0px;
}
.pagination-table-tb ul li {
    padding: 5px 8px;
    margin-right: 1px;
    margin-left: 2px;
    
}
.fc-toolbar h2 {
    font-size: 15px;
    text-align: center;
}
}

/*Iphone 5 or smaller device*/
@media only screen and (min-width: 320px) and (max-width: 568px) { 
	.pd-l-0 {
    padding-left: 15px !important;
}
	.pd-r-0 {
	    padding-right: 15px !important;
	}
	.body-header-area:before{
		display: none;
	}
	.body-header-area {
    height: 128px;
    text-align: center;
    margin-top: 20px;
}
	.body-notifiaction-area {
    text-align: center !important;
    margin-left: 88px;
}
.body-notifiaction-area a {
    font-size: 26px;
    margin-right: 10px;
    margin-left: 8px;
}
.head-dash h3 {
    font-size: 26px;
}

.pd-2 {
    padding: 0px;
    margin-top: 30px;
}
.finess-btn {
    text-align: left !important;
    margin-bottom: 20px;
}
.menu-area-dashboard {
    min-height: 100%;
}
.dash-menu{
	display: none;
    position: absolute;
    z-index: 999;
    left: 14px;
    top: 103px;
    background: #000;
    width: 92%;
}
.menu-burger-mobile {
    display: block !important;
    cursor: pointer !important;
    border: 1px solid #ddd;
    padding: 5px 6px;
    padding-top: 9px;
    margin-top: 11px;
}
.menu-burger{
	display: none;
}
ul.paginatn {
    padding-left: 0px;
}
.pagination-table-tb ul li {
    padding: 5px 8px;
    margin-right: 1px;
    margin-left: 2px;
	
}
.fc-toolbar h2 {
    font-size: 15px;
    text-align: center;
}

}
